/* Everithing but the jumbotron gets side spacing for mobile first views */
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page footer*/
.footer {
    text-align: center;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: justify;
    border-bottom: 1px solid #e5e5e5;
    background: #e5e5e5;
    padding-top: 10%;
}

#jumbotronContenido {
    padding-left: 25%;
}

/*ver.html, editar.html*/
#ver, #editar {
    padding-top: 6%;
}