/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body {
	padding-top:70px;
}
*/
a {
  color: #00B7FF;
}

.errorMessages {
    color: crimson;
}
/*
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}
*/