<!--
<p>Date: <input type="text" id="datepicker"></p>
--> 

<div ng-controller="PruebaController as ctrl">
    <fieldset>
        <p>Fecha de Contrato: 
            <input type="text" ng-model="ctrl.fechaContrato" 
                   id="datepicker" />
        </p>
    </fieldset>
</div>


<div ng-controller="PruebaController as ctrl">
    <fieldset>
        Fecha de vencimiento: 
        <input type="text" ng-model="ctrl.fechaVencimiento"
               id="datepicker2"/>
        </p>
    </fieldset>
</div>