<div ng-hide="appCtrl.isPrivate()"  class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" ng-class="appCtrl.isActive('/')?'active':''">
            <a href="#/">Inicio</a>
        </li>
        <li role="presentation" ng-class="appCtrl.isActive('#/negocio/psychosolutions')?'active':''">
            <a ng-href="#/negocio/psychosolutions">Acerca de</a>
        </li>
        <li role="presentation" ng-class="appCtrl.isActive('/contact')?'active':''">
            <a ng-href="#/contact">Contacto</a>
        </li>
        <li role="presentation" ng-class="appCtrl.isActive('/todosPublico')?'active':''">
            <a ng-href="#/todosPublico">Lista de negocios</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted"><%= title %></h3>
</div>
<div  ng-show="appCtrl.isPrivate()" class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" ng-class="appCtrl.isActive('/todos')?'active':''">
            <a ng-href="#/todos">Todos privado</a>
        </li>
        
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
              Público <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
                <li role="presentation" ng-class="appCtrl.isActive('/')?'active':''">
                    <a href="#/">Portada</a>
                </li>
                <li role="presentation" ng-class="appCtrl.isActive('/todosPublico')?'active':''">
                    <a ng-href="#/todosPublico">Todos público</a>
                </li>
                <li role="presentation" ng-class="appCtrl.isActive('#/negocio/psychosolutions')?'active':''">
                    <a ng-href="#/negocio/psychosolutions">Acerca de</a>
                </li>
                <li role="presentation" ng-class="appCtrl.isActive('/contact')?'active':''">
                    <a ng-href="#/contact">Contacto</a>
                </li>
                <li role="presentation" ng-class="appCtrl.isActive('/signin')?'active':''">
                    <a ng-href="#/signin">Signin</a>
                </li>
                <li role="presentation" ng-class="appCtrl.isActive('/signup')?'active':''">
                    <a ng-href="#/signup">Signup</a>
                </li>
            </ul>
        </li>
         
        <li role="presentation">
            <a href ng-click="appCtrl.logout()">Logout</a>
        </li>  
      </ul>
    </nav>
    <h3 class="text-muted">PRIVATE</h3>
</div>