<div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" ng-class="appCtrl.isActive('/')?'active':''">
            <a href="#/">Inicio</a>
        </li>
        <li role="presentation" ng-class="appCtrl.isActive('/about')?'active':''">
            <a ng-href="#/about">Acerca de</a>
        </li>
        <li role="presentation" ng-class="appCtrl.isActive('/contact')?'active':''">
            <a ng-href="#/contact">Contacto</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted"><%= title %></h3>
</div>
 