<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Bootstrap
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#listado">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">Download</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!--div ng-hide="appCtrl.isPrivate()"  class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-left">
            <h3 class="text-muted"><img src="images/logoMedioFondo.png" style="width: 10%; height: 10%;"/> <%= title %></h3>
        </ul>    
        <ul class="nav nav-pills pull-right">
            <li role="presentation" ng-class="appCtrl.isActive('/')?'active':''">
                <a ng-href="#/">Lista de negocios</a>
            </li>
            <li role="presentation" ng-class="appCtrl.isActive('/publico/about')?'active':''">
                <a ng-href="#/publico/about">Acerca de</a>
            </li>
            <li role="presentation" ng-class="appCtrl.isActive('/publico/contact')?'active':''">
                <a ng-href="#/publico/contact">Contacto</a>
            </li>
        </ul>
    </nav>
</div>

<div  ng-show="appCtrl.isPrivate()" class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" ng-class="appCtrl.isActive('/privado/todos')?'active':''">
            <a ng-href="#/privado/todos">Todos privado</a>
        </li>
        
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
              Público <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
                <li role="presentation" ng-class="appCtrl.isActive('/')?'active':''">
                    <a ng-href="#/">Todos público</a>
                </li>
                <li role="presentation" ng-class="appCtrl.isActive('#/publico/about')?'active':''">
                    <a ng-href="#/publico/about">Acerca de</a>
                </li>
                <li role="presentation" ng-class="appCtrl.isActive('/publico/contact')?'active':''">
                    <a ng-href="#/publico/contact">Contacto</a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">PRIVATE</li>
                <li role="presentation" ng-class="appCtrl.isActive('/signin')?'active':''">
                    <a ng-href="#/signin">Signin</a>
                </li>
                <li role="presentation" ng-class="appCtrl.isActive('/signup')?'active':''">
                    <a ng-href="#/signup">Signup</a>
                </li>
            </ul>
        </li>
         
        <li role="presentation">
            <a href ng-click="appCtrl.logout()">Logout</a>
        </li>  
      </ul>
    </nav>
    <h3 class="text-muted">PRIVATE</h3>
</div-->