<div ng-hide="appCtrl.isPrivate()"  class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" ng-class="appCtrl.isActive('/')?'active':''">
            <a href="#/">Inicio</a>
        </li>
        <li role="presentation" ng-class="appCtrl.isActive('/about')?'active':''">
            <a ng-href="#/about">Acerca de</a>
        </li>
        <li role="presentation" ng-class="appCtrl.isActive('/contact')?'active':''">
            <a ng-href="#/contact">Contacto</a>
        </li>
        <li role="presentation" ng-class="appCtrl.isActive('/todosPublica')?'active':''">
            <a ng-href="#/todosPublica">Lista de negocios</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted"><%= title %></h3>
</div>
<div  ng-show="appCtrl.isPrivate() && appCtrl.emailUsuario" class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation">
            <a href ng-click="appCtrl.logout()">Logout {{appCtrl.emailUsuario}}</a>
        </li>
        <li role="presentation" ng-class="appCtrl.isActive('/todos')?'active':''">
            <a ng-href="#/todos">Todos privado</a>
        </li>
        <li role="presentation" ng-class="appCtrl.isActive('/todosPublica')?'active':''">
            <a ng-href="#/todosPublica">Todos público</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">PRIVATE</h3>
</div>