<div ng-hide="appCtrl.isPrivate()"  class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-left">
            <h3 class="text-muted"><img src="images/logoMedioFondo.png" style="width: 10%; height: 10%;"/> <%= title %></h3>
        </ul>    
        <ul class="nav nav-pills pull-right">
            <li role="presentation" ng-class="appCtrl.isActive('/')?'active':''">
                <a ng-href="#/">Lista de negocios</a>
            </li>
            <li role="presentation" ng-class="appCtrl.isActive('/publico/about')?'active':''">
                <a ng-href="#/publico/about">Acerca de</a>
            </li>
            <li role="presentation" ng-class="appCtrl.isActive('/publico/contact')?'active':''">
                <a ng-href="#/publico/contact">Contacto</a>
            </li>
        </ul>
    </nav>
</div>

<div  ng-show="appCtrl.isPrivate()" class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" ng-class="appCtrl.isActive('/privado/todos')?'active':''">
            <a ng-href="#/privado/todos">Todos privado</a>
        </li>
        
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
              Público <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
                <li role="presentation" ng-class="appCtrl.isActive('/')?'active':''">
                    <a ng-href="#/">Todos público</a>
                </li>
                <li role="presentation" ng-class="appCtrl.isActive('#/publico/about')?'active':''">
                    <a ng-href="#/publico/about">Acerca de</a>
                </li>
                <li role="presentation" ng-class="appCtrl.isActive('/publico/contact')?'active':''">
                    <a ng-href="#/publico/contact">Contacto</a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">PRIVATE</li>
                <li role="presentation" ng-class="appCtrl.isActive('/signin')?'active':''">
                    <a ng-href="#/signin">Signin</a>
                </li>
                <li role="presentation" ng-class="appCtrl.isActive('/signup')?'active':''">
                    <a ng-href="#/signup">Signup</a>
                </li>
            </ul>
        </li>
         
        <li role="presentation">
            <a href ng-click="appCtrl.logout()">Logout</a>
        </li>  
      </ul>
    </nav>
    <h3 class="text-muted">PRIVATE</h3>
</div>