<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Web</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        
        <!-- JQUERY & jquery-ui-1.11.4-->
        <link rel="stylesheet" href="stylesheets/jquery-ui.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <script src='js/jquery.js'></script>
        <script src="js/jquery-ui.js"></script>
                
        <!-- ANGULAR-->
        <script src="angular/lib/angular.js"></script>
        <script src="angular/lib/angular-messages.js"></script>
        <script src="angular/lib/angular-route.min.js"></script>
        <script src="angular/lib/ng-file-upload-shim.js"></script>
        <script src="angular/lib/ng-file-upload.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
    </head>
    <body>
        
        <div ng-view>
        </div>
        
        <script src="angular/src/app.js"></script>
        <script src="angular/src/verController.js"></script>
        <script src="angular/src/nuevoController.js"></script>
        <script src="angular/src/todosController.js"></script>
        <script src="angular/src/editarController.js"></script>
        <script src="angular/src/correoController.js"></script>
        <script src="angular/src/mapFactory.js"></script>
        <script src="angular/src/productosFactory.js"></script>
        <script src="angular/src/modelFactory.js"></script>
        <script src="angular/src/proxyFactory.js"></script>
        <script src="angular/src/empresasProxy.js"></script>
        <script src="angular/src/uploadFilesFactory.js"></script>
        <script src="angular/src/httpInterceptor.js"></script>
        <script src="angular/src/tokenStorage.js"></script>
        <script src="angular/src/usuariosProxy.js"></script>
        <script src="angular/src/signinController.js"></script>
        <script src="angular/src/signupController.js"></script>
        <script src="angular/src/todosPublicaController.js"></script>
        <script src="angular/src/verPublicaController.js"></script>
    </body>
</html>
