<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' /> 
    </head>
    <body>
        <div class="container" ng-controller="AppController as appCtrl">
            <% include header %>
            <div ng-view></div>
        </div>
        <% include scripts %>
    </body>
</html>