<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        
        <!-- ANGULAR-->
        <script src="angular/lib/angular.js"></script>
        <script src="angular/lib/angular-route.min.js"></script>
        <script src="angular/lib/ng-file-upload-shim.js"></script>
        <script src="angular/lib/ng-file-upload.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
    </head>
    <body>
        
        <div ng-view>
        </div>
        
        <script src="angular/src/app.js"></script>
        <script src="angular/src/indexController.js"></script>
        <script src="angular/src/imagenController.js"></script>
        <script src="angular/src/correoController.js"></script>
        <script src="angular/src/verImagenController.js"></script>
        <script src="angular/src/miEmpresaController.js"></script>
    </body>
</html>
