<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8" http-equiv="encoding">
        <meta http-equiv="Content-Type X-UA-Compatible"  content="text/html; IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title><%= title %></title>
        
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="AppController as appCtrl">
    <!--<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <div class="container" ng-controller="AppController as appCtrl"-->
    
        <% include header %>
        <div ng-view autoscroll="true">
        </div>
        <br />
        <% include footer %>
        <!--/div-->
        <% include scripts %>
    </body>
</html>