<div class="container">
    <div class="jumbotron">
        <h1 align="center">Contacto</h1>
        <br />
        <div class="media" id="jumbotronContenido">
            <div class="media-left">
                <a href="#/publico/about">
                    <img class="media-object img-rounded" src="images/caraJonas.jpg" alt="fotografía de jonas" style="width: 175px; height: 200px;" >
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Jonás Nahúm Jiménez García</h4>
                <p>
                    Cel. 452 165 22 47
                    <br>
                    Email. jonasnahum@gmail.com
                    <br>
                    Justo Sierra no.60 Col.Jorhentpiri.
                    <br>
                    Uruapan Michoacán.
                </p>
            </div>
        </div>
    </div>
</div>