<h1 align="center">Contacto</h1>
<div class="media">
  <div class="media-left">
    <a href="#/about">
      <img class="media-object" src="images/contact.jpeg" alt="fotografía de jonas" style="width: 125px; height: 200px;" >
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Jonás Nahúm Jiménez García</h4>
      <p>
        Cel. 452 165 22 47
        <br>
        Email. jonasnahum@gmail.com
        <br>
        Justo Sierra no.60 Col.Jorhentpiri.
        <br>
        Uruapan Michoacán.
      </p>
  </div>
</div>
