<script type="text/javascript" src="./../../../js/datepicker.js"></script>
<div ng-controller="EditarFormularioController as ctrl">
    <form name="frmEditar" ng-submit="frmEditar.$valid && ctrl.editar()">
        <fieldset>
            <h2>Empresa</h2> 
            Nombre: <input type="text" ng-model="ctrl.nombre"/>
            <br />
            Logotipo:
            <br />
            <button ngf-select="ctrl.uploadFiles($files, $invalidFiles, 'logotipo')"
                    accept="image/*" ngf-max-height="3000"
                    ngf-max-width="3000" ngf-max-size="1MB"
                    >Select Files</button>
            <br>
            <div style="font:smaller">
                <ul>
                    <li ng-repeat="f in files" style="font:smaller">
                            {{ctrl.f.name}} {{ctrl.errFile.name}}
                            {{ctrl.errFile.$error}}
                            {{ctrl.errFile.$errorParam}}
                    </li>
                </ul>
                <span class="progress" ng-show="ctrl.progress >= 0">
                    <div style="width:{{ctrl.progress}}%" 
                         ng-bind="ctrl.progress + '%'">
                    </div>
                </span>

            </div>
            {{ctrl.errorMsg}}
            <div>
                <img src="data:image/*;base64,{{ctrl.logotipo}}" width="50%"
                     height="50%" alt="embedded folder icon">
            </div>
            
            <br /><br />
            Foto:
            <button ngf-select="ctrl.uploadFiles($files, $invalidFiles, 'foto')"
                    accept="image/*" ngf-max-height="3000"
                    ngf-max-width="3000" ngf-max-size="1MB"
                    >Select Files</button>
            <br />
            <div style="font:smaller">
                <ul>
                    <li ng-repeat="f in files" style="font:smaller">
                            {{ctrl.f.name}} {{ctrl.errFile.name}}
                            {{ctrl.errFile.$error}}
                            {{ctrl.errFile.$errorParam}}
                    </li>
                </ul>
                <span class="progress" ng-show="ctrl.progress >= 0">
                    <div style="width:{{ctrl.progress}}%" 
                         ng-bind="ctrl.progress + '%'">
                    </div>
                </span>

            </div>
            {{ctrl.errorMsg}}
            <br />
            <div>
                <img src="data:image/*;base64,{{ctrl.foto}}" width="50%"
                     height="50%" alt="embedded folder icon">
            </div>
            <br />   
            Texto introductorio: <textarea rows="4" cols="50" ng-model="ctrl.textoIntro">Escribe una breve introduccion</textarea>
            <br /><br />
        </fieldset>
        <br /><br />
        <fieldset>
            <h5>Direccion</h5>
            <br />
            Numero: <input type="text" ng-model="ctrl.numero"/>
            <br />
            Numero interior: <input type="text" 
                                    ng-model="ctrl.numeroInt"/>
            <br />
            Calle: <input type="text" ng-model="ctrl.calle"/>
            <br />
            Colonia: <input type="text" ng-model="ctrl.colonia"/>
            <br />
            C.P. : <input type="text" ng-model="ctrl.cp"/>
            <br />
            Municipio: <input type="text" ng-model="ctrl.municipio"/>
            <br />
            Estado: <input type="text" ng-model="ctrl.estado"/>
            <br />
            Mapa: 
            <div id="googleMap" style="width:500px;height:380px;"></div>
            {{ctrl.lat}}
            {{ctrl.long}}
        </fieldset>
        <br />
        <fieldset>
            <h5>Rubro</h5>
            <br />
            Nombre: <input type="text" ng-model="ctrl.rubro"/>
        </fieldset>
        <br /><br />
        Descripcion: <textarea rows="4" cols="50" 
                               ng-model="ctrl.descripcion"></textarea>
        <br />
        Horario: <input type="text" ng-model="ctrl.horario"/>
        <br />
        Encargado: <input type="text" ng-model="ctrl.encargado"/>
        <br />
        Telefono: <input type="text" ng-model="ctrl.tel"/>
        <br />
        Facebook: <input type="text" ng-model="ctrl.face"/>
        <br />
        Email: <input type="email" ng-model="ctrl.email"/>
        <br /><br />
        <fieldset>
            <h5>Producto</h5>
            <br />
            Titulo: <input type="text" ng-model="ctrl.producto.titulo"/>
            <br />
            Parrafo: <textarea rows="4" cols="50" 
                               ng-model="ctrl.producto.parrafo">
                               Describe el producto o servicio</textarea>
            <a class="btn btn-lg btn-warning" href 
                ng-click="ctrl.agregarProducto()" role="button">Push</a>
            {{ctrl.producto}}
            <br />
            Titulo del producto a remover: <input type="text" ng-model="ctrl.remover"/>
            <a class="btn btn-lg btn-warning" href 
               ng-click="ctrl.removerProducto()" role="button">Remove</a>
            Borrar todos los productos: 
            <a class="btn btn-lg btn-warning" href 
               ng-click="ctrl.borrarProductos()" role="button">Borrar Todos los productos</a>
            
             {{ctrl.productos}}
        </fieldset>
        <br /><br />
        Nota: <textarea rows="4" cols="50" ng-model="ctrl.nota"></textarea>
        <br /><br />
        <fieldset>
            <h5>Informacion del cliente</h5>
            <br />
            Num. de contrato: <input type="text" 
                                     ng-model="ctrl.noContrato"/>
            <br />
            Direccion de pagina web: <input type="text" 
                                            ng-model="ctrl.url"/>
            <br />
            Nombre del cliente: <input type="text" 
                                       ng-model="ctrl.cliente"/>
            <br />
            Telefono: <input type="text" ng-model="ctrl.telCliente"/>
            <br />Correo: <input type="email" 
                                 ng-model="ctrl.correoCliente" />
            <br />
            Fecha de Contrato: <input type="text" 
                                      ng-model="ctrl.fechaContrato" 
                                      id="fechaContrato" />
            <br />    
            Fecha de Vencimiento: <input type="text" 
                                         ng-model="ctrl.fechaVencimiento" 
                                         id="fechaVencimiento" />
            <br />
            Precio: <input type="text" ng-model="ctrl.pago"/>
        </fieldset>
        
        <button type="submit">Editar</button>
    </form>
</div>
