<div ng-controller="NegocioController as ctrl" >
    <div class="row-full">
        <div id="containerIn">
            <div class="row">
                <div class="scrollblock block-title" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground || '#23527C'}}">
                    <div style="position:relative; left: 230px; bottom: -80px">
                        <img src="{{ctrl.logotipo}}" width="5%" height="5%"  style='float: left;' class="logo" > 
                    </div>
                    <br />
                    <h2 style="font-size: 52px;" ><strong style="color: {{ctrl.colorText || '#DDD'}}">{{ctrl.nombre}}</strong></h2>
                    <br />
                    <br />
                    <img src="{{ctrl.foto}}" width="65%"
                      height="65%"  class="foto">
                    <br /><br />
                    <p>{{ctrl.textoIntro}}</p>
                </div>
            </div>
        </div>

        <div id="containerIn">
            <div class="row">
                <div class="scrollblock block-direccion">
                    <div class="col-md-6" id="dir">
                        <h2><strong>Domicilio</strong></h2>
                        <br />
                        <p>
                            <strong>Calle:</strong> {{ctrl.calle}} {{ctrl.numero}} (Num. Interior: {{ctrl.numeroInt || "----"}}).
                            <br />
                            <strong>Colonia:</strong> {{ctrl.colonia}}
                            <br />
                            <strong>C.P.</strong> {{ctrl.cp}}
                            <br />
                            <strong>{{ctrl.municipio}}, {{ctrl.estado}}</strong>
                        </p>
                        <br />
                        <br />
                        <ul class="list-unstyled" style="text-align: left">
                            <li><strong>Rubro:</strong> {{ctrl.rubro}}</li>
                            <li><strong>Descripcion:</strong> <p>{{ctrl.descripcion}}</p></li>
                            <li><strong>Horario:</strong> {{ctrl.horario}}</li>
                            <li><strong>Encargado:</strong> {{ctrl.encargado}}</li>
                            <li><strong>Telefono:</strong> {{ctrl.tel}}</li>
                            <li><strong>Facebook: </strong><a ng-href="https://www.facebook.com/{{ctrl.face}}/">{{ctrl.face}}</a></li>
                            <li><strong>Email:</strong> <a ng-click="ctrl.scrollTo('foo')">{{ctrl.email}}</a> </li>
                        </ul>
                        <h3><strong>NOTA:</strong></h3> {{ctrl.nota || "Por el momento no hay notas"}}
                    </div>
                    <div class="col-md-6">
                        <div id="googleMap" style="width:600px;height:480px;"></div>
                    </div>
                </div>
            </div>
        </div>

        
        <div id="containerIn">
            <div class="container  scrollblock block-productos" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground}}">
                <h2 style="font-size: 40px; text-align: center;"><strong>Productos ó servicios</strong></h2>
                <div class="gallery">
                    <div class="row">
                        <li ng-repeat="producto in ctrl.productos" class="list-unstyled">
                            <div class="col-lg-3">
                                <a href="{{producto.foto}}" data-title="{{producto.parrafo}}" data-lightbox="productos"> 
                                    <img src="{{producto.foto}}" width="200px" class="img-thumbnail"><!--img-rounded-->
                                    {{producto.titulo}}
                                </a>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!--div class="container">
            <h1> Lightbox example </h1>
            <div class="gallery">
                <div class="row">
                    <div class="col-lg-3">
                        <a href="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10915146_838737546189534_4977804204193769582_n.jpg?oh=36d69e3d17c4b3a0ccbc1cd9a7b284f3&oe=5743F002" data-title="My first caption" data-lightbox="productos">
                            <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10915146_838737546189534_4977804204193769582_n.jpg?oh=36d69e3d17c4b3a0ccbc1cd9a7b284f3&oe=5743F002" width="200px" class="img-thumbnail"><!--img-rounded-____________-></a>
                    </div>
                    <div class="col-lg-3">
                        <a href="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10472842_745752458821377_6690423736701621837_n.jpg?oh=51eac5dade3d72a99391619030799354&oe=57255226" data-title="My second caption" data-lightbox="productos">
                            <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10472842_745752458821377_6690423736701621837_n.jpg?oh=51eac5dade3d72a99391619030799354&oe=57255226" width="200px" class="img-thumbnail"><!--img-rounded-__________-></a>
                    </div>
                    <div class="col-lg-3">
                        <a href="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xft1/t31.0-8/s960x960/1557297_658639244199366_1218999304_o.jpg" data-title="My third caption" data-lightbox="productos">
                            <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xft1/t31.0-8/s960x960/1557297_658639244199366_1218999304_o.jpg" width="200px" class="img-thumbnail"><!--img-rounded-______________-></a>
                    </div>
                    <div class="col-lg-3">
                        <a href="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/1234900_578977715498853_1300424298_n.jpg?oh=aefa3951495616f6fc70dd238c45de4b&oe=573A50AE" data-title="My fourth caption" data-lightbox="productos">
                            <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/1234900_578977715498853_1300424298_n.jpg?oh=aefa3951495616f6fc70dd238c45de4b&oe=573A50AE" width="200px" class="img-thumbnail"><!--img-rounded-___________-></a>
                    </div>
                </div>
            </div>
        </div-->
        
        
        <!--div id="containerIn">
            <div id="container">
                <div class="row">
                    <div class="scrollblock block-productos" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground}}">
                        <h2 style="font-size: 40px; text-align: center;"><strong>Productos ó servicios</strong></h2>
                        <br /><br /><br />
                        <li ng-repeat="producto in ctrl.productos" class="list-unstyled">
                            <div class="col-lg-3 col-sm-4 col-6"><!--a href="#" title="Image 1"--_____><img src="{{producto.foto}}" class="thumbnail img-responsive"><strong>{{producto.titulo}}</strong> 
                                <p>{{producto.parrafo}} </p><!--/a--________></div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3 class="modal-title">Heading</h3>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div-->


        <!--div id="containerIn">
            <div class="row">
                <!--div class="scrollblock block-productos" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground}}"--__________>
                    <h2 style="font-size: 40px; text-align: center;"><strong>Productos ó servicios</strong></h2>
                    <br /><br /><br />
                    <section>
                        <ul id="gallery">
                            <li id="fullPreview"></li>
                            
                            <li ng-repeat="producto in ctrl.productos" class="list-unstyled">
                                <a href="{{producto.foto}}"></a>
                                <img data-original="img/thumb/1.jpg" src="{{producto.foto}}" width="240" height="150" alt="NoImageAvailable" />
                                <div class="overLayer"></div>
                                <div class="infoLayer">
                                    <ul>
                                        <li>
                                            <h2>
                                                Do not know
                                            </h2>
                                        </li>
                                        <li>
                                            <p>
                                               Do not know 2 
                                            </p>
                                        </li>
                                    </ul>
                                </div>

                                <div class="projectInfo">
                                    <strong>
                                        {{producto.titulo}}
                                    </strong> {{producto.parrafo}}
                                </div>
                            </li>
                        </ul>
                    </section>
                <!--/div--_____>
            </div>
        </div--> 
        <!--div id="containerIn">
            <div class="row placeholders">
                <div class="scrollblock block-productos" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground}}">
                    <h2 style="font-size: 40px; text-align: center;"><strong>Productos ó servicios</strong></h2>
                    <br /><br /><br />
                    <li ng-repeat="producto in ctrl.productos" class="list-unstyled">
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <img src="{{producto.foto}}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                            <strong>{{producto.titulo}}</strong>
                            <span class="text-muted">{{producto.parrafo}}</span>
                        </div>
                    </li>
                </div>
            </div>   
        </div-->
         
        <!--div id="containerIn">
            <div class="row">
                <div class="scrollblock block-productos" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground}}">
                    <h2 style="font-size: 40px; text-align: center;"><strong>Productos ó servicios</strong></h2>
                    <br /><br /><br />
                    <li ng-repeat="producto in ctrl.productos" class="list-unstyled">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <strong>{{producto.titulo}}</strong> 
                            <p>{{producto.parrafo}} </p>
                        </div>
                        <div class="col-sm-2">
                            <img src="{{producto.foto}}" width="100%" height="100%"  class="foto">
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2"></div>
                        <br /><br /><br /><br />
                        <br /><br /><br /><br />
                    </li>
                </div>
            </div>   
        </div-->

        <div id="containerIn">
            <div class="row">
                <div class="scrollblock block-info" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground || '#23527C'}}">
                    <h2 id="foo"><strong>Contacto</strong></h2> <br /><br />
                    <div class="col-md-12" ng-controller="EmailFormController as emCtl">
                        <h3>Enviar Mensage</h3> <br /><br />
                        <form name="mailForm" id="myForm" ng-submit="mailForm.$valid && emCtl.send(ctrl.email)" novalidate>
                            <fieldset ng-attr-disabled="{{emCtl.waiting || undefined}}">
                                <div class="form-group">
                                    <label>Mi Nombre</label>
                                    <input type="text" class="form-control" name="name" placeholder="Nombre"
                                           ng-model="emCtl.name" required />    

                                    <div class="errorMessages" ng-messages="mailForm.name.$error" 
                                         ng-if="(!mailForm.name.$pristine || mailForm.$submitted)" >
                                        <div ng-messages-include="/error/messages.html"></div>
                                    </div>                                    
                                </div>
                                <div class="form-group">
                                    <label>Mi Correo</label>
                                    <input type="email" class="form-control" name="email" placeholder="Email"
                                           ng-model="emCtl.email" required />
                                    <div class="errorMessages" ng-messages="mailForm.email.$error" 
                                         ng-if="(!mailForm.email.$pristine || mailForm.$submitted)">
                                        <div ng-messages-include="/error/messages.html"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Mi Teléfono</label>
                                    <input type="text" class="form-control" name="phone" placeholder="Teléfono"
                                           ng-model="emCtl.phone" ng-minlength="5" ng-maxlength="15" ng-pattern="/^[0-9]+$/"/>
                                    <div class="errorMessages" ng-messages="mailForm.phone.$error" 
                                         ng-if="!mailForm.phone.$pristine || mailForm.$submitted">
                                        <div ng-messages-include="/error/messages.html"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Mi Mensage</label>
                                    <textarea class="form-control" name="message" placeholder="Mensage"
                                              ng-model="emCtl.message" required ></textarea>
                                    <div class="errorMessages" ng-messages="mailForm.message.$error" 
                                         ng-if="(!mailForm.message.$pristine || mailForm.$submitted)" >
                                        <div ng-messages-include="/error/messages.html"></div>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                            </fieldset>
                        </form>
                        <a href="#/todosPublico">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
