<div ng-controller="NegocioController as ctrl" >
    <div class="row-full">
        <div id="containerIn">
            <div class="row">
                <div class="scrollblock block-title" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground || '#23527C'}}">
                    <div style="position:relative; left: 230px; bottom: -80px">
                        <img src="data:image/*;base64,{{ctrl.logotipo}}" width="5%" height="5%"  style='float: left;' class="logo" > 
                    </div>
                    <br />
                    <h2 style="font-size: 52px;" ><strong style="color: {{ctrl.colorText || '#DDD'}}">{{ctrl.nombre}}</strong></h2>
                    <br />
                    <br />
                    <img src="data:image/*;base64,{{ctrl.foto}}" width="65%"
                      height="65%"  class="foto">
                    <br /><br />
                    <p>{{ctrl.textoIntro}}</p>
                </div>
            </div>
        </div>

        <div id="containerIn">
            <div class="row">
                <div class="scrollblock block-direccion">
                    <div class="col-md-6" id="dir">
                        <h2><strong>Domicilio</strong></h2>
                        <br />
                        <p>
                            <strong>Calle:</strong> {{ctrl.calle}} {{ctrl.numero}} (Num. Interior: {{ctrl.numeroInt || "----"}}).
                            <br />
                            <strong>Colonia:</strong> {{ctrl.colonia}}
                            <br />
                            <strong>C.P.</strong> {{ctrl.cp}}
                            <br />
                            <strong>{{ctrl.municipio}}, {{ctrl.estado}}</strong>
                        </p>
                        <br />
                        <br />
                        <ul class="list-unstyled" style="text-align: left">
                            <li><strong>Rubro:</strong> {{ctrl.rubro}}</li>
                            <li><strong>Descripcion:</strong> <p>{{ctrl.descripcion}}</p></li>
                            <li><strong>Horario:</strong> {{ctrl.horario}}</li>
                            <li><strong>Encargado:</strong> {{ctrl.encargado}}</li>
                            <li><strong>Telefono:</strong> {{ctrl.tel}}</li>
                            <li><strong>Facebook: </strong><a ng-href="https://www.facebook.com/{{ctrl.face}}/">{{ctrl.face}}</a></li>
                            <li><strong>Email:</strong> <a ng-click="ctrl.scrollTo('foo')">{{ctrl.email}}</a> </li>
                        </ul>
                        <h3><strong>NOTA:</strong></h3> {{ctrl.nota || "Por el momento no hay notas"}}
                    </div>
                    <div class="col-md-6">
                        <div id="googleMap" style="width:600px;height:480px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="containerIn">
            <div class="row">
                <div class="scrollblock block-productos" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground}}">
                    <h2 style="font-size: 40px;"><strong>Productos ó servicios</strong></h2>
                    <br /><br /><br />
                    <li ng-repeat="producto in ctrl.productos">
                        <strong>{{producto.titulo}}</strong> {{producto.parrafo}}
                        <br /><br />
                    </li>
                </div>
            </div>   
        </div>

        <div id="containerIn">
            <div class="row">
                <div class="scrollblock block-info" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground || '#23527C'}}">
                    <h2 id="foo"><strong>Contacto</strong></h2> <br /><br />
                    <div class="col-md-12" ng-controller="EmailFormController as emCtl">
                        <h3>Enviar Mensage</h3> <br /><br />
                        <form name="mailForm" id="myForm" ng-submit="mailForm.$valid && emCtl.send(ctrl.email)" novalidate>
                            <fieldset ng-attr-disabled="{{emCtl.waiting || undefined}}">
                                <div class="form-group">
                                    <label>Mi Nombre</label>
                                    <input type="text" class="form-control" name="name" placeholder="Nombre"
                                           ng-model="emCtl.name" required />    

                                    <div class="errorMessages" ng-messages="mailForm.name.$error" 
                                         ng-if="(!mailForm.name.$pristine || mailForm.$submitted)" >
                                        <div ng-messages-include="/error/messages.html"></div>
                                    </div>                                    
                                </div>
                                <div class="form-group">
                                    <label>Mi Correo</label>
                                    <input type="email" class="form-control" name="email" placeholder="Email"
                                           ng-model="emCtl.email" required />
                                    <div class="errorMessages" ng-messages="mailForm.email.$error" 
                                         ng-if="(!mailForm.email.$pristine || mailForm.$submitted)">
                                        <div ng-messages-include="/error/messages.html"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Mi Teléfono</label>
                                    <input type="text" class="form-control" name="phone" placeholder="Teléfono"
                                           ng-model="emCtl.phone" ng-minlength="5" ng-maxlength="15" ng-pattern="/^[0-9]+$/"/>
                                    <div class="errorMessages" ng-messages="mailForm.phone.$error" 
                                         ng-if="!mailForm.phone.$pristine || mailForm.$submitted">
                                        <div ng-messages-include="/error/messages.html"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Mi Mensage</label>
                                    <textarea class="form-control" name="message" placeholder="Mensage"
                                              ng-model="emCtl.message" required ></textarea>
                                    <div class="errorMessages" ng-messages="mailForm.message.$error" 
                                         ng-if="(!mailForm.message.$pristine || mailForm.$submitted)" >
                                        <div ng-messages-include="/error/messages.html"></div>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                            </fieldset>
                        </form>
                        <a href="#/todosPublico">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
