<div ng-controller="NegocioController as ctrl" >
    <div class="row-full">
        <div id="containerIn">
            <div class="row">
                <div class="scrollblock block-title" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground || '#23527C'}}">
                    <div style="position:relative; left: 230px; bottom: -80px">
                        <img src="{{ctrl.logotipo}}" width="5%" height="5%"  style='float: left;' class="logo" > 
                    </div>
                    <br />
                    <h2 style="font-size: 52px;" id="top" ><strong style="color: {{ctrl.colorText || '#DDD'}}">{{ctrl.nombre}}</strong></h2>
                    <br />
                    <br />
                    <img src="{{ctrl.foto}}" width="65%"
                      height="65%"  class="foto">
                    <br /><br />
                    <p>{{ctrl.textoIntro}}</p>
                </div>
            </div>
        </div>

        <div id="containerIn">
            <div class="row">
                <div class="scrollblock block-direccion">
                    <div class="col-md-6" id="dir">
                        <h2><strong>Domicilio</strong></h2>
                        <br />
                        <p>
                            <strong>Calle:</strong> {{ctrl.calle}} {{ctrl.numero}} (Num. Interior: {{ctrl.numeroInt || "----"}}).
                            <br />
                            <strong>Colonia:</strong> {{ctrl.colonia}}
                            <br />
                            <strong>C.P.</strong> {{ctrl.cp}}
                            <br />
                            <strong>{{ctrl.municipio}}, {{ctrl.estado}}</strong>
                        </p>
                        <br />
                        <br />
                        <ul class="list-unstyled" style="text-align: left">
                            <li><strong>Rubro:</strong> {{ctrl.rubro}}</li>
                            <li><strong>Descripcion:</strong> <p>{{ctrl.descripcion}}</p></li>
                            <li><strong>Horario:</strong> {{ctrl.horario}}</li>
                            <li><strong>Contacto:</strong> {{ctrl.encargado}}</li>
                            <li><strong>Telefono:</strong> {{ctrl.tel}}</li>
                            <li><strong>Email:</strong>{{ctrl.email}}</li>
                        </ul>
                        <h3><strong>NOTA:</strong></h3> {{ctrl.nota|| ""}}
                    </div>
                    <div class="col-md-6"><!--style="padding-left: 50px;"-->
                        <div id="googleMap" style="width:600px;height:480px;"></div>
                    </div>
                </div>
            </div>
        </div>

            
        <div id="containerIn">
            <div class="scrollblock block-productos" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground}}">
                <h2 style="font-size: 40px; text-align: center;"><strong>Productos ó servicios</strong></h2>
                <br /><br />
                <div class="row">
                    <li ng-repeat="producto in ctrl.productos" style="font-size: 20px; margin-left: 50px;" class="list-unstyled">
                        <strong>{{producto.titulo}}</strong> 
                        <p>{{producto.parrafo}}</p>
                    </li>
                </div>
                <br /><br />
                <div class="gallery">
                    <div class="row">
                        <li ng-repeat="producto in ctrl.productos" class="list-unstyled" >
                            <div class="col-lg-2" ng-show="producto.foto">
                                <a href="{{producto.foto}}" data-title="{{producto.titulo}}: {{producto.parrafo}}" data-lightbox="productos" style="color: {{ctrl.colorText || '#DDD'}};"> 
                                    <img src="{{producto.foto}}" width="200px" height="200px" class="img-rounded">{{producto.titulo}}
                                    <!--<img src="{{producto.foto}}" width="200px" height="200px" class="img-thumbnail">-->
                                </a>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="containerIn">
            <div class="row">
                <div class="scrollblock block-info" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground || '#23527C'}}">
                    <h2 style="text-align: center;"><strong>Contacto</strong></h2> 
                    <br /><br />
                    <div class="col-md-12" ng-controller="EmailFormController as emCtl">
                        <h3>Enviar Mensage</h3> <br /><br />
                        <form name="mailForm" id="myForm" ng-submit="mailForm.$valid && emCtl.send(ctrl.email)" novalidate>
                            <fieldset ng-attr-disabled="{{emCtl.waiting || undefined}}">
                                <div class="form-group">
                                    <label>Mi Nombre</label>
                                    <input type="text" class="form-control" name="name" placeholder="Nombre"
                                           ng-model="emCtl.name" required />    

                                    <div class="errorMessages" ng-messages="mailForm.name.$error" 
                                         ng-if="(!mailForm.name.$pristine || mailForm.$submitted)" >
                                        <div ng-messages-include="/error/messages.html"></div>
                                    </div>                                    
                                </div>
                                <div class="form-group">
                                    <label>Mi Correo</label>
                                    <input type="email" class="form-control" name="email" placeholder="Email"
                                           ng-model="emCtl.email" required />
                                    <div class="errorMessages" ng-messages="mailForm.email.$error" 
                                         ng-if="(!mailForm.email.$pristine || mailForm.$submitted)">
                                        <div ng-messages-include="/error/messages.html"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Mi Teléfono</label>
                                    <input type="text" class="form-control" name="phone" placeholder="Teléfono"
                                           ng-model="emCtl.phone" ng-minlength="5" ng-maxlength="15" ng-pattern="/^[0-9]+$/"/>
                                    <div class="errorMessages" ng-messages="mailForm.phone.$error" 
                                         ng-if="!mailForm.phone.$pristine || mailForm.$submitted">
                                        <div ng-messages-include="/error/messages.html"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Mi Mensage</label>
                                    <textarea class="form-control" name="message" placeholder="Mensage"
                                              ng-model="emCtl.message" required ></textarea>
                                    <div class="errorMessages" ng-messages="mailForm.message.$error" 
                                         ng-if="(!mailForm.message.$pristine || mailForm.$submitted)" >
                                        <div ng-messages-include="/error/messages.html"></div>
                                    </div>
                                </div>

                                <div class="text-right" >
                                    <button type="submit" class="btn btn-primary">Enviar Correo</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="containerIn">
            <div class="row">
                <div class="scrollblock block-redesSociales" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground|| '#23527C'}}; height:20px;">
                    <h2 style="font-size: 40px; text-align: center;"><strong>Redes Sociales</strong></h2>
                        <ul style="list-style-type: none; line-height: 2em; position: relative; bottom: -5em;" >
                            <li ng-if="ctrl.whats">
                                <i class="fa fa-whatsapp" style="font-size:30px;"></i> {{ctrl.whats}}
                            </li>
                            <li ng-if="ctrl.face">
                                <i class="fa fa-facebook-official" style="font-size:30px"></i><a target="_blank" style="color: {{ctrl.colorText || '#DDD'}};" ng-href="{{ctrl.face}}"> Facebook </a>
                            </li>
                            <li ng-if="ctrl.flickr">
                                <i class="fa fa-flickr" style="font-size:30px"></i><a target="_blank" style="color: {{ctrl.colorText || '#DDD'}};" ng-href="{{ctrl.flickr}}"> Flickr </a>
                            </li>
                            <li>
                                <a target="_blank" style="color: {{ctrl.colorText || '#DDD'}};"ng-href=" {{ctrl.link1}}"> {{ctrl.link1}}</a>
                            </li>
                            <li>
                                <a target="_blank" style="color: {{ctrl.colorText || '#DDD'}};"ng-href=" {{ctrl.link2}}"> {{ctrl.link2}}</a>
                            </li>
                        </ul>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                        <ul class="list-unstyled" style="text-align: right">
                            <li><a style="color: {{ctrl.colorText || '#DDD'}};" href ng-click="ctrl.scrollTo('top')">Ir arriba</a> </li>
                            <li><a style="color: {{ctrl.colorText || '#DDD'}};"ng-href="#/" >Lista de negocios locales</a> </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
