<div class="jumbotron">
<h1>La mejor publicidad</h1>
<p class="lead">
    Si quieres que tu negocio aparezca en Internet <a href="#/contact">acércate con nosotros</a>.
    Es fácil, rápido, barato y efectivo.
</p>
<p class="lead">
    Además, puedes consultar un catálogo de negocios que ofrecen una gran variedad de productos o servicios en tu localidad.
</p>
<p><a class="btn btn-lg btn-success" href="#/todosPublica" role="button">Negocios</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Modernízate</h4>
        <p>Ahora todo mundo busca productos y servicios vía Internet.</p>
        
        <h4>Página Personalizada</h4>
        <p>Puedes tener tu propia página en Internet.</p>

        <h4>Anúnciate</h4>
        <p>Tus clientes podrán ver un listado de tus productos o servicios.</p>
    </div>

    <div class="col-lg-6">
        <h4>Escucha a tus clientes</h4>
        <p>Mediante un formulario de contácto, te podrán escribir directo a tu correo electrónico.</p>

        <h4>Fácil</h4>
        <p>Sólo proporciónanos la información que quieres que aparezca.</p>


        <h4>Precios Accesibles</h4>
        <p>Nos especializamos en la pequeña y mediana empresa.</p>
    </div>
</div>