<h1>Registrarse</h1>
<form name="frmSignup"  ng-submit="frmSignup.$valid && ctrl.signup()" ng-controller="SignupPublicoController as ctrl" novalidate>
    <div class="form-group">  
        
        <h3>Información del cliente</h3><small class="text-muted">La siguiente información es confidencial y no aparecerá en su página web publicitaria, es para registrarlo como socio en www.weburuapan.com (Excepto uniquename).</small>

        <br />
        <label>*Nombre del cliente</label> 
        <input class="form-control" type="text" ng-model="ctrl.cliente" name="cliente" ng-minlength="10" ng-maxlength="40" required ng-pattern="/^[a-zA-Záéíóúñ. ]+$/" style="width:30%;"/>
        <div class="errorMessages" ng-messages="frmSignup.cliente.$error" 
             ng-if="!frmSignup.cliente.$pristine || frmSignup.$submitted" role="alert">
            <div ng-messages-include="/error/messages.html"></div>
        </div>

        <label>*Uniquename </label><small class="text-muted">  Agregue un nombre (en minúsculas y sin espacios intermedios) para crear su dirección de internet (URL)</small>
        <input class="form-control" type="text" ng-model="ctrl.uniquename" name="uniquename" ng-pattern="/^[a-zA-Z0-9ñ]+$/" required style="width:30%;"/>
        <div class="errorMessages" ng-messages="frmSignup.uniquename.$error" 
             ng-if="!frmSignup.uniquename.$pristine || frmSignup.$submitted" role="alert">
            <div ng-messages-include="/error/messages.html"></div>
        </div>
        <label>Su dirección de internet será : http://weburuapan/{{ctrl.uniquename}}</label>
        <br />

        <label>*Teléfono:</label>
        <input class="form-control" type="text" ng-model="ctrl.telCliente" name="telCliente" ng-minlength="5" ng-maxlength="15" ng-pattern="/^[0-9]+$/" required style="width:30%;"/>
        <div class="errorMessages" ng-messages="frmSignup.telCliente.$error" 
             ng-if="!frmSignup.telCliente.$pristine || frmSignup.$submitted"
             role="alert">
            <div ng-messages-include="/error/messages.html"></div>
        </div>
        
        <label>*Email:</label>
        <input class="form-control" type="email" name="email" ng-model="ctrl.email" 
        required maxlength="60" style="width:30%;" ng-pattern="/^[-!#$%&'*+/0-9=?A-Z^_a-z{|}~](\.?[-!#$%&'*+/0-9=?A-Z^_a-z{|}~])*@[a-zA-Z](-?[a-zA-Z0-9])*(\.[a-zA-Z](-?[a-zA-Z0-9])*)+$/"/>
        <div class="errorMessages" ng-messages="frmSignup.email.$error" ng-if="!frmSignup.email.$pristine || frmSignup.$submitted" role="alert" >
            <div ng-messages-include="/error/messages.html"></div>
        </div>

        <label>*Contraseña:</label>
        <input  class="form-control" type="password" name="password" ng-model="ctrl.password" 
        required required maxlength="60"  style="width:30%;"/>
        <div class="errorMessages" ng-messages="frmSignup.password.$error" ng-if="!frmSignup.password.$pristine || frmSignup.$submitted" role="alert" >
            <div ng-messages-include="/error/messages.html"></div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary btn-lg" role="button" value="Signup" />
</form>
