<script src="./../../../js/pace.min.js"></script>
<link href="./../../../stylesheets/cornerIndicator.css" rel="stylesheet" />
<br />
<div class="row">
    
    <div class="col-sm-8 blog-main">
        <div ng-controller="TodosPublicoController as ctrl">
            <div ng-show="ctrl.empresas.length > 0">
                 <label>Buscar: <input ng-model="ctrl.searchText"></label>{{ctrl.searchText}}
            </div>
            <ul dir-paginate="empresa in ctrl.empresas | filter:ctrl.searchText | itemsPerPage: 20">
                <hr class="featurette-divider">
                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading" ng-href="#/negocio/{{empresa.informacion.uniquename}}">{{ empresa.nombre }}.</h2>
                        <p class="text-muted">{{ empresa.descripcion }}</p>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive center-block"  alt="Logotipo" src="data:image/*;base64,{{empresa.logotipo}}">
                    </div>
                </div>        
            </ul>
        </div>
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <p>Si quieres que tu negocio aparezca en Internet <a href="#/about">acércate con nosotros</a>, la manera más efectiva de darte a conocer.</p>
        </div>
    </div>
    
</div>

<dir-pagination-controls></dir-pagination-controls>