<!--script src="./../../../js/pace.min.js"></script-->
<!--link href="./../../../stylesheets/cornerIndicator.css" rel="stylesheet" /-->
<div ng-controller="TodosPublicoController as ctrl">
    <!-- Intro Header -->
    <header class="intro" style="padding-bottom: 11.5%;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Páginas Web Uruapan</h1>
                        <p class="intro-text">Crea fácilmente tu página web.</p>
                        <!--a style="color: rgb(35, 82, 124);" class="btn btn-circle" ng-click="ctrl.scrollTo('buscar')">    <i class="fa fa-angle-double-down animated"></i>
                        </a-->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Buscar Section -->
    <section id="buscar" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-6">
                <a type="button" class="btn btn-success btn-lg" aria-label="Left Align" ng-href="#/publico/signup"> Crear mi página web</a>
                <p class="bg-success" style="font-size:small;">Sólo necesitas la url (dirección de internet) de las imágenes que quieres publicar. </p>
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar negocio"  ng-model="ctrl.searchText">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Buscar</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </section>


    <!-- Listado Section -->
    <section id="listado" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Páginas registradas</h2>
                <ul dir-paginate="pagina in ctrl.paginas | filter:ctrl.searchText | itemsPerPage: 10">
                    <hr class="featurette-divider">
                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading"><a ng-href="#/{{pagina._usuario.uniquename}}">{{ pagina.nombre }}.
                            </a></h2>
                            <p class="text-muted">{{ pagina.descripcion }}</p>
                        </div>
                        <div class="col-md-5">
                            <img class="featurette-image img-responsive center-block" src="{{pagina.logotipo}}">
                        </div>
                    </div>        
                </ul>
            </div>

            <dir-pagination-controls></dir-pagination-controls>

        </div>
    </section>

    <!-- Contact Section -->
    <section id="quienesSomos" class="container content-section text-center" ng-controller="AboutController">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>¿Quiénes somos?</h2>
                <p>Somos un directorio virtual de páginas web, especializado en anunciar los productos y servicios que se ofrecen en la ciudad de Uruapan Michoacan, para que los clientes puedan conocer mucho mejor su negocio.</p>

                    <p>Tenemos una página web de publicidad para su negocio que será incluída en nuestro listado de negocios.</p>

                    <p>En un vistazo, sus clientes podrán ver los productos o servicios que usted ofrece y una descripción de los mismos.</p>

                    <p>Además, le ofrecemos la opción de agregar un links a sus redes sociales  favoritas, ubique su domicilio en googleMap, agregue un logotipo, fotos de alta calidad y escuche a sus clientes para que en forma fácil le hagan llegar dudas o comentarios a través de un formulario virtual.</p>

                    <p>Nuestras páginas son limpias y fáciles, nos esforzamos por mantener su sitio web libre de publicidad invasiva que distrae a sus clientes, todo esto, por un bajo costo.</p>

                    <!--p>¿ Qué espera ? <a href="#/publico/about/bienvenida">visítenos ahora.</a></p-->
                    <p>¿ Qué espera ? <a href="#/publico/about">visítenos ahora.</a></p>
                <!--p>
                    <!--a href="#/publico/about/enviarMensaje">jonasnahum@gmail.com</a--****************>
                    <a href="#/publico/about">jonasnahum@gmail.com</a>
                </p-->
                <!--ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/paginasweburuapan/" class="btn btn-default btn-lg" target="_blank">
                            <i class="fa fa-facebook fa-fw"></i> 
                            <span class="network-name">Facebook</span>
                        </a>
                    </li>
                </ul-->
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <!--div id="map"></div--________________>
    
    <div id="googleMap" style="width: 100%; height: 200px; margin-top: 100px; @media(min-width:767px) { #googleMap { height: 400px; margin-top: 250px; } }"></div-->

</div>