<!--customTemplate/--> 
<!--img src="./../../../images/fondotabla2.jpeg" id="privadoTodos" alt="">
<div class="container" id="wrapper"--->
<div class="container" style="margin: 100px auto;">
    <h1>TODOS LOS USUAROS SIN PÁGINA</h1>
    <div ng-controller="TodosUsuariosController as ctrl">
        
        <h2 class="pull-right">{{ctrl.emailUsuario}}</h2>
        <br><br><br><br>
        
        <div ng-show="ctrl.usuarios.length > 0">
            <label>Buscar: <input ng-model="ctrl.searchText"></label>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Uniquename</th>
                        <th>TelCliente</th>
                        <th>NoContrato</th>
                        <th>Registro</th>
                        <th>Vencimiento</th>
                        <th>Pago</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody dir-paginate="usuario in ctrl.usuarios | filter:ctrl.searchText | itemsPerPage: 200">
                    <tr>
                        <th scope="row">{{ usuario.cliente }}</th>
                        <td>{{usuario.uniquename}}</td>
                        <td>{{usuario.telCliente}}</td>
                        <td>{{usuario.noContrato}}</td>
                        <td>{{usuario.fechaRegistro}}</td>
                        <td>{{usuario.fechaVencimiento}}</td>
                        <td>{{usuario.pago}}</td>
                        <td>{{usuario.email}}</td>
                        <td>
                            <a href="#" ng-click="ctrl.delete(usuario._id)">Borrar usuario sin pagina</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>    
        <br />

    </div>
    <dir-pagination-controls></dir-pagination-controls>
</div>

