<div ng-controller="VerController as ctrl" class="container" id="ver">
    
    <div class="panel panel-default" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground || '#23527C'}}">
        <div class="panel-heading">Informacion del cliente</div>
        <div class="panel-body">
            <label>Num. de contrato:</label> {{ctrl.noContrato}}
            <br />
            <label>Uniquename:</label> {{ctrl.uniquename}}
            <br />
            <label>Nombre del cliente:</label> {{ctrl.cliente}}
            <br />
            <label>Telefono:</label> {{ctrl.telCliente}}
            <br />
            <label>Correo:</label> {{ctrl.correoCliente}}
            <br />
            <label>Fecha de Contrato:</label> {{ctrl.fechaContrato}}
            <br />    
            <label>Fecha de Vencimiento:</label> {{ctrl.fechaVencimiento}}
            <br />
            <label>Precio:</label> {{ctrl.pago}}
        </div>
    </div>

    <div class="panel panel-default" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground || '#23527C'}}">
        <div class="panel-heading">
            <h3 class="panel-title">Empresa</h3>
        </div>
        <div class="panel-body">
            <label>Nombre:</label> {{ctrl.nombre}}
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <label>Logotipo:</label>
                    <div>
                        <img src="{{ctrl.logotipo}}" width="50%" height="50%" alt="embedded folder icon"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>Foto:</label>
                    <div>
                        <img src="{{ctrl.foto}}" width="50%" height="50%" alt="embedded folder icon"/>
                    </div>
                </div>
            </div>
            <br />
            <label>Texto introductorio:</label> {{ctrl.textoIntro}}
        </div>
    </div>
    
    <div class="panel panel-default" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground || '#23527C'}}">
        <div class="panel-heading">
            <h3 class="panel-title">Direccion</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6" id="dir">
                    <label>Numero:</label> {{ctrl.numero}}
                    <br/>
                    <label>Numero interior:</label> {{ctrl.numeroInt}}
                    <br/>
                    <label>Calle:</label> {{ctrl.calle}}
                    <br/>
                    <label>Colonia:</label> {{ctrl.colonia}}
                    <br/>
                    <label>C.P. :</label> {{ctrl.cp}}
                    <br />
                    <label>Municipio:</label> {{ctrl.municipio}}
                    <br />
                    <label>Estado:</label> {{ctrl.estado}}
                </div>
                <div class="col-md-6" id="dir">
                    Mapa: 
                    <div id="googleMap" style="width:500px;height:380px;"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground || '#23527C'}}">
        <div class="panel-heading">
            <h3 class="panel-title">Rubro</h3>
        </div>
        <div class="panel-body">
            <label>Nombre:</label> {{ctrl.rubro}}
        </div>
    </div>
    
    <div class="panel panel-default" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground || '#23527C'}}">
        <div class="panel-heading">
            <h3 class="panel-title">Empresa</h3>
        </div>
        <div class="panel-body">
            <label>Descripcion:</label> {{ctrl.descripcion}}
            <br/>
            <label>Horario:</label> {{ctrl.horario}}
            <br/>
            <label>Encargado:</label> {{ctrl.encargado}}
            <br />
            <label>Telefono:</label> {{ctrl.tel}}
            <br />
            <label>Whats:</label> {{ctrl.whats}}
            <br />
            <label>Facebook:</label> <a ng-href="{{ctrl.face}}">{{ctrl.face}}</a>
            <br />
            <label>Flickr:</label> <a ng-href="{{ctrl.flickr}}">{{ctrl.flickr}}</a>
            <br />    
            <label>Redes sociales:</label> <a ng-href="{{ctrl.flickr}}">{{ctrl.flickr}}</a>
            <ol>
                <li ng-repeat="link in ctrl.links">
                    <a href="{{link}}" target="_blank">{{link}}</a>
                </li>
            </ol>
            <br />
            <label>Email:</label> {{ctrl.email}}
        </div>
    </div>
    
    <div class="panel panel-default" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground || '#23527C'}}">
        <div class="panel-heading">
            <h3 class="panel-title">Productos</h3>
        </div>
        <div class="panel-body">
            <ol class="list-group">
                <li ng-repeat="producto in ctrl.productos"  class="list-group-item">
                    <strong>{{$index + 1}}. {{producto.titulo}}</strong> {{producto.parrafo}}
                    <img src="{{producto.foto}}" width="20%" height="20%"  class="foto" ng-show="producto.foto" class="label label-default label-pill pull-xs-right">
                </li>
            </ol>
        </div>
    </div>
    
    <div class="panel panel-default" style="color: {{ctrl.colorText || '#DDD'}}; background-color: {{ctrl.colorBackground || '#23527C'}}">
        <div class="panel-heading">Nota</div>
        <div class="panel-body">
            {{ctrl.nota}}
        </div>
    </div>
    
    
    <a href="#/privado/todos">Ir a todos</a>
</div>
