<script type="text/javascript" src="./../../../js/datepicker.js"></script>
<div ng-controller="VerFormularioController as ctrl">
    <form>
        <fieldset>
            <h2>Empresa</h2> 
            Nombre: {{ctrl.nombre}}
    <!--        <br />
            Logotipo:
            <br />
            <button ngf-select="ctrl.uploadFiles($files, $invalidFiles, 'logotipo')"
                    accept="image/*" ngf-max-height="3000"
                    ngf-max-width="3000" ngf-max-size="1MB"
                    >Select Files</button>
            <br>
            <div style="font:smaller">
                <ul>
                    <li ng-repeat="f in files" style="font:smaller">
                            {{ctrl.f.name}} {{ctrl.errFile.name}}
                            {{ctrl.errFile.$error}}
                            {{ctrl.errFile.$errorParam}}
                    </li>
                </ul>
                <span class="progress" ng-show="ctrl.progress >= 0">
                    <div style="width:{{ctrl.progress}}%" 
                         ng-bind="ctrl.progress + '%'">
                    </div>
                </span>

            </div>
            {{ctrl.errorMsg}}
            <div>
                <img src="data:image/*;base64,{{ctrl.logotipo}}" width="50%"
                     height="50%" alt="embedded folder icon">
            </div>
            
            <br /><br />
            Foto:
            <button ngf-select="ctrl.uploadFiles($files, $invalidFiles, 'foto')"
                    accept="image/*" ngf-max-height="3000"
                    ngf-max-width="3000" ngf-max-size="1MB"
                    >Select Files</button>
            <br />
            <div style="font:smaller">
                <ul>
                    <li ng-repeat="f in files" style="font:smaller">
                            {{ctrl.f.name}} {{ctrl.errFile.name}}
                            {{ctrl.errFile.$error}}
                            {{ctrl.errFile.$errorParam}}
                    </li>
                </ul>
                <span class="progress" ng-show="ctrl.progress >= 0">
                    <div style="width:{{ctrl.progress}}%" 
                         ng-bind="ctrl.progress + '%'">
                    </div>
                </span>

            </div>
            {{ctrl.errorMsg}}
            <br />
            <div>
                <img src="data:image/*;base64,{{ctrl.foto}}" width="50%"
                     height="50%" alt="embedded folder icon">
            </div>
-->
            <br />   
            Texto introductorio: {{ctrl.textoIntro}}
            <br /><br />
        </fieldset>
        <br /><br />
        <fieldset>
            <h5>Direccion</h5>
            <br />
            Numero: {{ctrl.numero}}
            <br />
            Numero interior: {{ctrl.numeroInt}}
            <br />
            Calle: {{ctrl.calle}}
            <br />
            Colonia: {{ctrl.colonia}}
            <br />
            C.P. : {{ctrl.cp}}
            <br />
            Municipio: {{ctrl.municipio}}
            <br />
            Estado: {{ctrl.estado}}
            <br />
<!--
            Mapa: 
            <div id="googleMap" style="width:500px;height:380px;"></div>
        </fieldset>
        <br />
-->
        <fieldset>
            <h5>Rubro</h5>
            <br />
            Nombre: {{ctrl.rubro}}
        </fieldset>
        <br /><br />
        Descripcion: <textarea rows="4" cols="50" >{{ctrl.descripcion}}</textarea>
        <br />
        Horario: {{ctrl.horario}}
        <br />
        Encargado: {{ctrl.encargado}}
        <br />
        Telefono: {{ctrl.tel}}
        <br />
        Facebook: {{ctrl.face}}
        <br />
        Email: <input type="email" ng-model="ctrl.email"/>
        <br /><br />
        <fieldset>
            <h5>Producto</h5>
            <br />
            <ul>
                <li ng-repeat="producto in ctrl.productos">
                    Titulo: {{producto.titulo}} <br>
                    Parrafo: {{producto.parrafo}}
                </li>
            </ul>
        </fieldset>
        <br /><br />
        Nota: <textarea rows="4" cols="50">{{ctrl.nota}}</textarea>
        <br /><br />
        <fieldset>
            <h5>Informacion del cliente</h5>
            <br />
            Num. de contrato: <input type="text" 
                                     ng-model="ctrl.noContrato"/>
            <br />
            Direccion de pagina web: {{ctrl.url}}
            <br />
            Nombre del cliente: {{ctrl.cliente}}
            <br />
            Telefono: {{ctrl.telCliente}}
            <br />
            Correo: {{ctrl.correoCliente}}
            <br />
            Fecha de Contrato: {{ctrl.fechaContrato}}
            <br />    
            Fecha de Vencimiento: {{ctrl.fechaVencimiento}}
            <br />
            Precio: {{ctrl.pago}}
        </fieldset>
    </form>
</div>
